body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #141414;
}


div {
    box-sizing: border-box;
}

header {
    background: url(../Img/fon5.jpg) no-repeat center top / cover;
    height: 100vh;
}


.conteiner {
    width: 950px;
    margin: 0 auto; 
}

.heading {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.menu {
    display: flex;
    padding-top: 15px;
}
.menu li {
    display: block;
    margin: 0 10px;
}
.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

.titles__first {
    font-size: 40px;
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
}
h1 {
    font-size: 75px;
    color: #fff;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.button {
    background: rgb(202, 182, 4);
    color: rgb(92, 91, 91);
    border-radius: 5px;
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 20px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 150px;
}

.title2 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.title2 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

}

.title2 p {
    color: #777777;
    text-align: center;
    text-transform: lowercase;
    font-size: 13px;
    margin-top: 5px;
}


.services_item {
    width: 250px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-between;

}

.services_item h3 {
    font-size: 18px;
}

.services_item p {
    font-size: 14px;
    color: #868686;
    line-height: 1.3em;
}


#services {
    padding-bottom: 80px;
}

#portfolio {
    background: #e7e7e7;
    padding-bottom: 120px;

}

.title {
    text-align: center;
    text-decoration: none;
}

.title h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
    margin: 0;
}

.title p {
    font-size: 13px;
    text-transform: lowercase;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 65px;
}

.works img {
    width: 300px;
    height: 270px;
}



.foto_i_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.foto_i_text div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.foto_i_text p {
    align-self: center;
    color: #777777;
    font-size: 15px;
}

.ganj {
    margin-left: 365px;
    margin-right: 20px;
}

.din {
    margin-right: 351px;
    margin-left: 20px;
}

.gr {
    margin-left: 365px;
    margin-right: 20px;
}

.kav {
    margin-left: 20px;
    padding: 11px;
    margin-right: 351px;
}

.sv {
    margin-left: 365px;
    margin-right: 20px;
}

.foo {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    display: block;
    margin: 20px;
    color: #777777;;
}